[submodule "public"]
	path = public
	url = git@bitbucket.org:anarcher/anarcher.bitbucket.org.git
[submodule "themes/blackburn"]
    path = themes/blackburn
    url = https://github.com/yoshiharuyamashita/blackburn.git


