[submodule "themes/blackburn"]
    path = themes/blackburn
    url = https://github.com/yoshiharuyamashita/blackburn.git


[submodule "themes/kiss"]
	path = themes/kiss
	url = https://github.com/ribice/kiss.git
[submodule "themes/yinyang"]
	path = themes/yinyang
	url = git@github.com:anarcher/hugo-theme-yinyang.git
