<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ .Title }} | anarcher's trashcan </title>
    {{if .Description}}
    <meta name="description" content="{{.Description}}">
    {{end}}
    {{if .Author}}
    <meta name="author" content="{{.Author}}">
    {{end}}
    <link rel="stylesheet" href="/style.css" type="text/css">
    <link rel="shortcut icon" href="favicon.ico" />
</head>
<body>
    <div class="container">
        <div class="header">
            <a href="/index.html">anarcher's trashcan </a>
        </div>
        <div class="navigation">
            <ul>
                <li><a href="/">blog</a></li>
                <li><a href="/archives.html">archive</a></li>
                <li><a href="/tags.html">tags</a></li>
                <li><a href="/about.html">about</a></li>
            </ul>
        </div>
        <div class="body">
        {{.Content}}
        </div>
    </div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38571523-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
