<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ .Title }} | anarcher's trashcan </title>
    {{if .Description}}
    <meta name="description" content="{{.Description}}">
    {{end}}
    {{if .Author}}
    <meta name="author" content="{{.Author}}">
    {{end}}
    <link rel="stylesheet" href="/style.css" type="text/css">
    <link rel="shortcut icon" href="favicon.ico" />
    <!-- These are the style sheets for syntax highlighting. -->
    <link type="text/css" rel="stylesheet" href="rainbow/css/github.css"/>
</head>
<body>
    <div class="container">
        <div class="header">
            <a href="/index.html">anarcher's trashcan </a>
        </div>
        <div class="navigation">
            <ul>
                <li><a href="/">blog</a></li>
                <li><a href="/archives.html">archive</a></li>
                <li><a href="/tags.html">tags</a></li>
                <li><a href="/about.html">about</a></li>
            </ul>
        </div>
        <div class="body">
        {{.Content}}
        </div>
        <div class="footer">
            <p>&copy; Copyright 2013 by anarcher.</p>
            <p>
               Content licensed under the Creative Commons
               attribution-noncommercial-sharealike License.</p>
        </div>
    </div>
    <!-- These are the scripts for syntax highlighting. -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/rainbow/1.1.8/js/rainbow.min.js"></script>
    <script src="rainbow/js/language/generic.js"></script>
    {{range .Languages}}
    <script src="rainbow/js/language/{{.}}.js"></script>
    {{end}}
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38571523-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</body>
</html>
